<h3>Product review for: <%= @product.name %></h3>
<h4>Author: <%= @review.author %></h4>
<h4>Rating: <%= @review.rating %></h4>
<h4>Summary:</h4>
<h5><%= @review.content_body %></h5>

<p><%= link_to "Edit review", edit_product_review_path(@product, @review) %></p>
<p><%= link_to "Delete review", product_review_path(@product, @review),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>
<p><%= link_to "Return to product", product_path(@product) %></p>
<p><%= link_to "Return to main menu", "/" %></p>
