<%= render "layouts/errors", :object => @review %>

<%= form_for [@product, @review] do |f| %>
  <%= f.label :author %>
  <%= f.text_field :author %>
  <br>
  <br>
 
  <%= f.label :rating %>
  <%= f.number_field :rating, min: 1, max: 5 %>
  <br>
  <br>
  <%= f.label :content_body %>
  <%= f.text_area :content_body %>
  <br>
  <br>
  <%= f.submit %>
<% end %>
<br>
<p><%= link_to "Return to products", products_path %></p>
<p><%= link_to "Return to main menu", "/" %></p>


